# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
.venv/
venv/

# Build
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Logs
*.log

# docs2 - documentação em desenvolvimento (não sobe)
docs2/

# Cobertura de testes
htmlcov/
.coverage
.coverage.*
coverage.xml

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Documentação gerada
docs/_build/
docs/api/generated/